In [11]:
import tweepy as tw
import pandas as pd
import twitter_authentication as ta

In [12]:
#authentication
auth = tw.OAuthHandler(ta.consumer_key, ta.consumer_secret)
auth.set_access_token(ta.access_token, ta.access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [13]:
#Test
def test_collect_mytimeline(c):
    public_tweets = api.home_timeline(count=c)
    for tweet in public_tweets: print(tweet.text)

In [14]:
def get_user_tweets(userId,limit):
    # Collect tweets from a specific user
    tweets = tw.Cursor(api.user_timeline,id=userId).items(limit)
    
    # create empty list
    tweet_list =[]    

    # Iterate on tweets
    for tweet in tweets:
        screen_name = tweet.user.screen_name # unique integer identifier for tweet
        text = tweet.text # utf-8 text of tweet
        created_at = tweet.created_at # utc time tweet created
        source = tweet.source # utility used to post tweet
        #utc_offset = tweet.user.utc_offset
        #time_zone = tweet.user.time_zone
        # append attributes to list
        tweet_list.append({
                          'screen_name':screen_name,
                          'text':text, 
                          'created_at':created_at, 
                          'source':source, 
                          #'utc_offset': utc_offset,
                          #'time_zone': time_zone,
                          })

    # create dataframe   
    df = pd.DataFrame(tweet_list, columns=[
                                           'screen_name',
                                           'text',
                                           'created_at',
                                           'source',
                                           #'utc_offset',
                                           #'time_zone'
                                          ])
    return df

In [15]:
def collect_tweets_now(folder,userids) :
    limit = 5000 # limit is actually 3200.
    for userid in userids:
        df = get_user_tweets(userid,limit)
        df.to_csv(folder+"/"+userid+".csv")

In [26]:
def load_collected_tweets(folder,userids):
    df = {}
    for userid in userids:
        df[userid] = pd.read_csv(folder+"/"+userid+".csv",index_col=0)
    return df

In [27]:
#test_collect_mytimeline(5)

In [28]:
userids = ['realdonaldtrump','kamalaharris','betoorourke','SenatorRomney','justinbieber']
#collect_tweets_now("tweets_collected_on_2140hrs_May7_2019",userids)

In [29]:
dict_df = load_collected_tweets("tweets_collected_on_2140hrs_May7_2019",userids)

In [38]:
dict_df['realdonaldtrump'].tail()

,screen_name,text,created_at,source
3184,realDonaldTrump,Many @harleydavidson owners plan to boycott th...,2018-08-12 12:57:39,Twitter for iPhone
3185,realDonaldTrump,".@GovMikeHuckabee “Your paycheck is bigger, yo...",2018-08-12 12:34:06,Twitter for iPhone
3186,realDonaldTrump,".@JudgeJeanine “Bob Mueller, isn’t your whole...",2018-08-12 12:24:12,Twitter for iPhone
3187,realDonaldTrump,Bikers for Trump at Bedminster earlier today. ...,2018-08-12 01:51:10,Twitter for iPhone
3188,realDonaldTrump,Hundreds of Bikers for Trump just joined me at...,2018-08-11 18:59:17,Twitter for iPhone

In [39]:
dict_df['kamalaharris'].tail()

,screen_name,text,created_at,source
3212,KamalaHarris,Yesterday I voted to end U.S. involvement in t...,2018-03-21 17:20:01,Buffer
3213,KamalaHarris,It may be surprising but paper ballots need to...,2018-03-21 15:33:00,Buffer
3214,KamalaHarris,Whenever our values of liberty and justice for...,2018-03-21 03:13:00,Buffer
3215,KamalaHarris,RT @KamalaHarris: I reject the false choice th...,2018-03-21 01:44:12,Twitter Web Client
3216,KamalaHarris,The results of this new survey are a stark rem...,2018-03-21 01:24:00,Buffer

In [40]:
dict_df['betoorourke'].tail()

,screen_name,text,created_at,source
3218,BetoORourke,A great way to wrap up an energetic town hall ...,2018-02-09 20:55:48,Twitter for iPhone
3219,BetoORourke,Town halls today in east Texas:\n*Lufkin at 1:...,2018-02-09 17:32:54,Twitter for iPhone
3220,BetoORourke,We have the opportunity to help our veterans r...,2018-02-08 18:06:30,Twitter for iPhone
3221,BetoORourke,There are 447 Community Health Center sites in...,2018-02-08 15:13:58,Twitter for iPhone
3222,BetoORourke,Proud to be endorsed by the @HGLBTCaucus and r...,2018-02-08 02:04:47,Twitter for iPhone

In [41]:
dict_df['SenatorRomney'].tail()

,screen_name,text,created_at,source
196,SenatorRomney,Happy birthday to the beautiful state of Utah!...,2019-01-04 19:56:36,Twitter Web Client
197,SenatorRomney,With deep appreciation. https://t.co/Y0tauRZOwl,2019-01-04 15:31:59,Twitter Media Studio
198,SenatorRomney,Used my dad’s Bible for today’s swearing-in. H...,2019-01-03 21:45:30,Twitter Web Client
199,SenatorRomney,To the people of Utah: Thank you for entrustin...,2019-01-03 21:05:46,Twitter Web Client
200,SenatorRomney,Excited for this next chapter. Let's do this. ...,2019-01-03 15:32:25,Twitter Web Client

In [42]:
dict_df['justinbieber'].tail()

,screen_name,text,created_at,source
3145,justinbieber,This weekend. Who is coming? http://t.co/Pz0dm...,2015-05-07 15:57:22,Twitter for iPhone
3146,justinbieber,Rehearsal today and studio,2015-05-07 15:56:59,Twitter for iPhone
3147,justinbieber,@etnow @ladygaga she is great,2015-05-07 15:56:36,Twitter for iPhone
3148,justinbieber,RT @967kissfm: #justplayed Where Are U Now: Sk...,2015-05-07 15:56:01,Twitter for iPhone
3149,justinbieber,RT @HOT957: #Beliebers we see your request #np...,2015-05-07 15:55:53,Twitter for iPhone

In [43]:
userids = ['SamuelLJackson','JustinTrudeau','MichelleObama','Oprah','theresa_may']
#collect_tweets_now("tweets_collected_on_2205hrs_May7_2019",userids)

In [44]:
dict_df = load_collected_tweets("tweets_collected_on_2205hrs_May7_2019",userids)

In [45]:
dict_df['SamuelLJackson'].tail()

,screen_name,text,created_at,source
3210,SamuelLJackson,"I did,I do & Cain is NOT an option EVER! @antbwan",2012-02-14 06:16:49,Twitter for iPad
3211,SamuelLJackson,ouch! That's gonna leave a mark! @lyndapayne,2012-02-14 06:13:33,Twitter for iPad
3212,SamuelLJackson,I'm going with the M-word Mupfuhqeuhs @d_hotdo...,2012-02-14 05:26:47,Twitter for iPad
3213,SamuelLJackson,hunh? @pimprenelleee,2012-02-14 05:14:04,Twitter for iPad
3214,SamuelLJackson,Does a Moupfacca really need to clarify?! I'm ...,2012-02-14 05:10:31,Twitter for iPad

In [46]:
dict_df['JustinTrudeau'].tail()

,screen_name,text,created_at,source
3205,JustinTrudeau,"On #BlackRibbonDay, we remember &amp; pay trib...",2018-08-23 13:50:06,Twitter Web Client
3206,JustinTrudeau,"En cette journée du Ruban noir, nous nous souv...",2018-08-23 13:49:22,Twitter Web Client
3207,JustinTrudeau,To the young sluggers of @WLLBALL in Surrey – ...,2018-08-23 00:22:50,Twitter for iPhone
3208,JustinTrudeau,Aux jeunes joueurs de la @WLLBALL à Surrey : v...,2018-08-23 00:22:30,Twitter for iPhone
3209,JustinTrudeau,RT @FilomenaTassiMP: L’Arche Comox Valley welc...,2018-08-23 00:05:57,Twitter for iPhone

In [47]:
dict_df['MichelleObama'].tail()

,screen_name,text,created_at,source
1105,MichelleObama,Here's something dear to my heart: the MLK Day...,2012-01-12 21:09:27,Twitter Web Client
1106,MichelleObama,"RT @JoiningForces: Yesterday, the First Lady a...",2012-01-12 18:41:21,Twitter Web Client
1107,MichelleObama,"Hi, everyone, and thanks for the warm welcome....",2012-01-12 16:57:30,Twitter Web Client
1108,MichelleObama,This account will be managed by campaign staff...,2012-01-12 13:15:48,Twitter Web Client
1109,MichelleObama,We're excited today to launch @michelleobama a...,2012-01-12 13:00:42,Twitter Web Client

In [48]:
dict_df['Oprah'].tail()

,screen_name,text,created_at,source
3207,Oprah,@GrowingOWN Hi Britt.,2014-08-17 15:17:25,Twitter for iPad
3208,Oprah,“@lizkinnell: “@jillienp: The only kind of fai...,2014-08-17 15:16:51,Twitter for iPad
3209,Oprah,@DevlinHuxtable @paulocoelho @SuperSoulSunday ...,2014-08-17 15:15:12,Twitter for iPad
3210,Oprah,@RichOnOWN @realrobbell loved that Oldsmobile...,2014-08-17 15:13:08,Twitter for iPad
3211,Oprah,.@paulocoelho how does it feel to have sold ov...,2014-08-17 15:12:08,Twitter for iPad

In [49]:
dict_df['theresa_may'].tail()

,screen_name,text,created_at,source
1538,theresa_may,RT @BrandonLewis: I outlined in @BBCRadio4 #wa...,2016-07-02 14:57:34,Twitter Web Client
1539,theresa_may,Conservative MPs like Nadhim Zahawi are backin...,2016-07-01 16:57:41,Twitter Web Client
1540,theresa_may,"Daily Mail: ""Only Mrs May has the right qualit...",2016-07-01 09:37:17,Twitter Web Client
1541,theresa_may,Together we can make Britain a country that wo...,2016-06-30 16:33:10,Twitter Web Client
1542,theresa_may,Today I launch my campaign to be our next PM. ...,2016-06-30 08:05:36,Twitter Web Client